        /* Smartphone (portrait and landscape) */
@media screen and (max-width: 767px) {
  /* CSS rules for smartphones */
}
/* Tablet (portrait and landscape) */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* CSS rules for tablets */
}
/* Desktop */
@media screen and (min-width: 1024px) {
  /* CSS rules for desktop */

body {
    font-family: BAHNSCHRIFT, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f99aa4;
    color: #FADADD;
}

.logo img {
    height: 50px;
}

.main-navigation ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.main-navigation ul li {
    position: relative;
}

.main-navigation ul li a {
    color: #362312;
    padding: 10px 20px;
    text-decoration: none;
    display: block;
}

.main-navigation ul li ul.dropdown {
    display: none;
    position: absolute;
    background-color: #b76e79;
    top: 100%;
    left: 0;
    list-style: none;
    padding: 0;
    margin: 0;
}

.main-navigation ul li:hover ul.dropdown {
    display: block;
}

.search-bar {
    display: flex;
}

.search-bar input {
    padding: 5px;
    border: none;
}

.search-bar button {
    padding: 5px 10px;
    border: none;
    background-color: #fff;
    color: #b76e79
}

.user-links a {
    color: #fff;
    margin-left: 20px;
    text-decoration: none;
}

.breadcrumbs {
    padding: 10px 20px;
    background-color: #f8acb4;
}

.breadcrumbs a {
    text-decoration: none;
    color: #b76e79;
}

main {
    display: flex;
    padding: 20px;
}

.sidebar {
    width: 25%;
    padding: 20px;
    background-color: #f8acb4;
}

.product-list {
    width: 75%;
    padding: 20px;
}


footer {
    background-color: #f99aa4;
    color: #362312;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-nav, .newsletter-signup, .social-media, .payment-methods {
    margin-bottom: 20px;
}

.footer-nav a, .social-media a {
    color: #362312;
    text-decoration: none;
    margin-right: 20px;
}

.newsletter-signup form {
    display: flex;
}

.newsletter-signup input {
    padding: 5px;
    border: none;
    margin-right: 10px;
}

.newsletter-signup button {
    padding: 5px 10px;
    border: none;
    background-color: #FADADD;
    color: #FADADD;
}






